/* Table of Contents
  -----------------------------------------

  0. Reset
  	  0.0 - import normalize.css
  	  0.1 - *
  1. Global Styles
      1.1. html, body
      1.2. a
  2. Class specific styles
  	  2.1. header // .header
  	  2.2. .step-container
  	  2.3. figure // .step
  3. Media Queries (Touch-device styles)

  -----------------------------------------
  -----------------------------------------
*/


/* ---
  0.0
 --- */
@import '../bower_components/normalize.css/normalize';


/* ---
  0.1 
 --- */
* {
	box-sizing: border-box;
}


/* ---
  1.1 | html, body
 --- */
html,body {
	
	background: #2196F3;
	color: #fff;
	font-family: 'Lora', serif;
	font-size: 18px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ---
  1.2 | a
 --- */
a {
	text-decoration: none;
	color: #FFEB3B;
}


/* ---
  2.1 | header
 --- */
.header {
	.title{
		text-align: center;
	}
}



/* ---
  2.2 | .step-container
 --- */
.step-container {
	
	display: block;
	
	height: 200px;
	position: relative;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	transform-origin: 50% 55% 0;
	overflow: visible;
	transform: rotate(90deg) scale(0);


	&.activate{
		transition: height .3s, width .3s, transform 2s;
		width: 68vh;
		height: 68vh;
		transform: rotate(0deg) scale(1);
	}

	&.activate-1{
	
 		& > .step {
 			transition: opacity .5s;
 			opacity: 0;
 		}
 		& > .step:nth-of-type(1){
 			opacity: 1;
 			
 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 			}
 		}

 		$i: 8;
		@while $i > 1 {
		  & > .step:nth-of-type(#{$i}) {
		  	transition-delay: #{$i}00ms;
		  }
		  $i: $i - 1;
		}

	}

	&.activate-2{
		
		transition: transform .5s;
		transform: rotate(-45deg);

 		& > .step {
 			transition: opacity .3s;
 			opacity: 0;
 		}
 		& > .step:nth-of-type(2){
 			opacity: 1;
 		
 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 			}
 		}

 		$i: 8;
		@while $i > 1 {
		  & > .step:nth-of-type(#{$i}) {
		  	transition-delay: #{$i}00ms;
		  }
		  $i: $i - 1;
		}

	}

	&.activate-3{
		
		transition: transform .5s;
		transform: rotate(-90deg);

 		& > .step {
 			transition: opacity .3s;
 			opacity: 0;
 		}
 		& > .step:nth-of-type(3){
 			opacity: 1;
 			
 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 			}
 		}

 		$i: 8;
		@while $i > 1 {
		  & > .step:nth-of-type(#{$i}) {
		  	transition-delay: #{$i}00ms;
		  }
		  $i: $i - 1;
		}

	}

	&.activate-4{
		
		transition: transform .5s;
		transform: rotate(-135deg);

 		& > .step {
 			transition: opacity .3s;
 			opacity: 0;
 		}
 		& > .step:nth-of-type(4){
 			opacity: 1;

 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 			}
 		}

 		$i: 8;
		@while $i > 1 {
		  & > .step:nth-of-type(#{$i}) {
		  	transition-delay: #{$i}00ms;
		  }
		  $i: $i - 1;
		}

	}

	&.deactivate {
		transition: transform .5s;
		transform: rotate(0deg);

		& > .step {
			transition: opacity .3s .7s;
			opacity: 1;
			.step__title, .step__description{
				visibility: visible;
 				transition: opacity .5s;
 				opacity: 0;
 			}
 		}
	}
}


/* ---
  2.2 | .step (figure)
 --- */

 .step-container > .step {

	display: inline-block;

 	text-align: center;
 	position: absolute;
 	pointer-events: none;

 	
 	width: 100%;
 	height: 100%;

 	margin-left: -50%;

 	z-index: -1;

 	&:nth-of-type(2){
 		transform: rotate(45deg);
 	}
	&:nth-of-type(3){
 		transform: rotate(90deg);
 	}
	&:nth-of-type(4){
 		transform: rotate(135deg);
 	}
 	&:nth-of-type(5){
 		transform: rotate(180deg);
 	}
 	&:nth-of-type(6){
 		transform: rotate(225deg);
 	}
 	&:nth-of-type(7){
 		transform: rotate(270deg);
 	}
 	&:nth-of-type(8){
 		transform: rotate(315deg);
 	}



 	.step__count {
 		
 		border: 1px solid #fff;
 		border-radius: 100px;
 		cursor: pointer;
 		display: inline-block;

		height: 50px;
		line-height: 50px;
 		padding: 0px;
 		position: relative;
 		pointer-events: auto;
		text-align: center;
		width:  50px;
		font-size: 2rem;
		z-index: 5;

		&:hover{
			transition: background .5s, color .5s;
			background: #fff;
			color: #222;
		}

 	}
 	.step__title {
 		display: block;
 		font-weight: 900;
 		margin: 15px 0;
 		opacity: 0;
 		padding: 0;
 		position: relative;
 		pointer-events: none;
 		text-align: center;
 		transition: opacity 1s 1s;
 		visibility: hidden;
 		z-index: -1;
 	}
 	.step__description {
 		font-size: 0.9rem;
 		color: #eee;
 		position: relative;
 		pointer-events: none;
 		text-align: left;
 		transition: opacity 1s 1.5s;
 		opacity: 0;
 		visibility: hidden;
 		z-index: -1;
 	}
}


/* ---
  3.1 | Media queries
 --- */
@media (max-width:640px), (max-height: 400px) {		
	html,body{
		overflow: auto;
	}

	.step-container {
		&.activate{
			transition: none;
			transform: rotate(0deg) !important;
			width: 100%;
		}
	}

	.step-container > .step {
		
		background: rgba(255,255,255,.1);
		
		display: block;
		height: auto;
		
		margin: 10px 0;

		padding: 15px;
		position: relative;

		transform: none !important;

		width: 100%;
		opacity: 1 !important;



		.step__title, .step__description {
 			visibility: visible;
 			opacity: 1;
		}

		
	}
}



